.App {
  background-image: linear-gradient(
    rgba(215, 26, 33, 0.3),
    rgba(172, 119, 119, 0.6)
  ), url('../public/img/ek-airport.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 
  #fffcfd;
}

.title {
  transform: translateY(-130px);
  font-style: italic;
  font-weight: 700;
  word-spacing: 0.5rem;
  letter-spacing: 2rem;
}

.start-btn {
  transform: translateY(-100px);
  width: 6rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-80w {
  min-width:70%;
}

.modal-body {
  height: 60vh;
}

.carousel {
  color: white;
  height: 100%;
  background-color: hsl(221,13%,14%);
}

.caritem {
  height: 100%;
  background-color: hsl(221,13%,14%);
}

.carousel-item {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}